<!doctype html>
<html>
<head>
   <title>COVID Shopper</title>

   <!-- Firebase CSS & JS -->
   <script src="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.js"></script>
   <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.css">

   <!-- Project CSS & JS -->
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- Google Graph-->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
   google.charts.load('current', {'packages':['bar']});
   google.charts.setOnLoadCallback(drawStuff);
   </script>
</head>

<body>
   <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script src="/__/firebase/7.15.5/firebase-app.js"></script>

   <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
   <script src="/__/firebase/7.15.5/firebase-analytics.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

   <!-- Initialize Firebase -->
   <script>
   // Your web app's Firebase configuration
   var firebaseConfig = {
      apiKey: "AIzaSyCx-e9ZTQ1SpwRPDymXjwMRz_Gq1WNETCQ",
      authDomain: "covid-shopper.firebaseapp.com",
      databaseURL: "https://covid-shopper.firebaseio.com",
      projectId: "covid-shopper",
      storageBucket: "covid-shopper.appspot.com",
      messagingSenderId: "1000854161113",
      appId: "1:1000854161113:web:d0077d1d382c3f031f20c8",
      measurementId: "G-L9BZ8J4XVH"
   };
   // Initialize Firebase
   firebase.initializeApp(firebaseConfig);
   firebase.analytics();
   </script>

   <!-- Navbar -->
   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="covid-shopper.firebaseapp.com">Covid Shopper</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="covid-shopper.firebaseapp.com">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
      </div>
   </nav>

   <!-- Banner -->
   <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
         <source src="{{ url_for('static', filename='banner.mp4') }}" type="video/mp4">
      </video>
      <div class="container h-100">
         <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
               <h1 class="display-3">Welcome to Covid Shopper</h1>
               <p class="lead mb-0">Your guide to staying safe and healthy by providing you with crowd free shopping times</p>
               <hr>
               <button  type="button" class="btn btn-outline-light"><a href="#map">Get Started</a></button>
            </div>
         </div>
      </div>
   </header>

   <!-- Google Maps Section -->
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="container">
               <input id="pac-input" class="controls" type="text" placeholder="Search Box">
               <div id="map"></div>
               <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx-e9ZTQ1SpwRPDymXjwMRz_Gq1WNETCQ
                  &libraries=visualization&callback=initMap">
               </script>
            </div>
         </div>
         <div class="col">
            <div class="container">
               <div id="top_x_div"></div>
            </div>
         </div>
      </div>
   </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
